:root {
  --golden-yellow: #ffc329;
  --black: #313131;
  --white: #eeeeee;
  --black-two: #151515;
  --bluish-grey: #7d8d9d;
  --topaz: #13b5b1;
  --white-two: #ffffff;
  --pale-grey: #f5f8fb;
  --black-three: #1b1b1b;
  --white-three: #f1f1f1;
  --off-blue: #556fb5;
  --yellow-orange: #f9b300;
  --vibrant-green: #0dd92e;
  --french-blue: #4a63a9;
  --topaz-two: #11b1ad;
  --light-blue-grey: #cdeceb;
  --greyish-brown: #535353;
  --warm-grey: #7d7d7d;
  --warm-grey-two: #959595;
  --beige: #fafbf5;
  --white-four: #dcdcdc;
  --cherry-red: #ea0027;
  --greyish: #aaaaaa;
  --white-five: #d2d2d2;
  --brownish-grey: #626262;
  --greyish-two: #b5b5b5;
  --black-four: #000000;
}

@import "./sidebar.scss";
@import "./home.scss";
@import "./servicePurchase.scss";

.container-app {
  display: flex;
  min-height: 100vh;
  background-color: var(--white-three);
  justify-content: space-between;
  #main {
    flex: 1;
    margin: 40px 0;
    border-top: 1px solid var(--white-four);
    border-bottom: 1px solid var(--white-four);
  }
}

a,
p {
  margin: 0 !important;
  // font-family: NotoSansCJKkr;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.64px;
  text-align: left;
  color: var(--white-two);
}

.container-card {
  border-radius: 7px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.05);
  background-color: var(--white-two);
  .card-header {
    border-bottom: 1px solid var(--white-four);
    background-color: var(--white-two);
    display: flex;
    .card-label {
      font-size: 18px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.67;
      letter-spacing: -0.72px;
      text-align: left;
      color: var(--black-three);
      border-bottom: 3px solid var(--golden-yellow);
    }
  }
  .card-content {
    padding: 20px;
  }
  .text-label {
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.8px;
    text-align: left;
    color: var(--black-three);
  }
  .sub-text {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.56px;
    text-align: left;
    line-height: 3.14;
    color: var(--black-three);
  }
}

.container-show-more {
  width: 14px;
  height: 14px;
  background-color: var(--warm-grey);
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-height-0 {
  line-height: 0;
}
