:root {
  --golden-yellow: #ffc329;
  --black: #313131;
  --white: #eeeeee;
  --black-two: #151515;
  --bluish-grey: #7d8d9d;
  --topaz: #13b5b1;
  --white-two: #ffffff;
  --pale-grey: #f5f8fb;
  --black-three: #1b1b1b;
  --white-three: #f1f1f1;
  --off-blue: #556fb5;
  --yellow-orange: #f9b300;
  --vibrant-green: #0dd92e;
  --french-blue: #4a63a9;
  --topaz-two: #11b1ad;
  --light-blue-grey: #cdeceb;
  --greyish-brown: #535353;
  --warm-grey: #7d7d7d;
  --warm-grey-two: #959595;
  --beige: #fafbf5;
  --white-four: #dcdcdc;
  --cherry-red: #ea0027;
  --greyish: #aaaaaa;
  --white-five: #d2d2d2;
  --brownish-grey: #626262;
}

@import "./sidebar.scss";
@import "./home.scss";

.container-app {
  display: flex;
  min-height: 100vh;
  background-color: var(--white-three);

  .main {
    flex: 1;
    margin: 40px 0;
    border-top: 1px solid var(--white-four);
    border-bottom: 1px solid var(--white-four);
  }
}

span,
a,
p {
  margin: 0 !important;
  // font-family: NotoSansCJKkr;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.64px;
  text-align: left;
  color: var(--white-two);
}
