.container-service-purchase {
  margin: 0 15% 0 170px;
  height: 100%;
  .title {
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -1.2px;
    text-align: left;
    color: var(--black-four);
    padding-left: 58px;
    padding-top: 42px;
  }

  .tabs {
    padding-left: 42px;
    .tab-item {
      padding-bottom: 0;
      width: 120px;
      .tab-label {
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.81;
        letter-spacing: -0.64px;
        text-align: center;
        color: var(--warm-grey-two);
      }
      &.active {
        border-bottom: 2px solid var(--golden-yellow);
        .tab-label {
          color: var(--black-three);
        }
      }
    }
  }

  .container-banner {
    padding: 52px 42px;
    .banner-left {
      flex-basis: 45%;
    }
    .banner-title {
      font-size: 26px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.73;
      letter-spacing: -1.04px;
      text-align: left;
      color: var(--black-three);
    }
    .banner-content {
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.63;
      letter-spacing: -0.64px;
      text-align: left;
      color: var(--black-three);
    }
    .banner-button {
      background-color: var(--white-five);
      width: 370px;
      flex-basis: 45%;
      .btn-text {
        font-size: 20px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: -0.8px;
        text-align: left;
        color: var(--warm-grey);
        text-align: center;
      }
    }
  }

  .container-coupon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
    .coupon {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .text-coupon {
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: -0.56px;
        text-align: center;
        color: var(--black-three);
        background-color: var(--golden-yellow);
        padding: 1px 5px;
      }
      .percent-coupon {
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: -0.96px;
        text-align: center;
        color: var(--black-three);
      }
    }
    .value-coupon {
      font-size: 26px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: -1.04px;
      text-align: center;
      color: var(--cherry-red);
      flex-basis: 25%;
    }
    .container-count-coupon {
      text-align: center;
      display: flex;
      .box-coupon {
        width: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
      }
      .adjust-count {
        background-color: var(--greyish);
        cursor: pointer;
      }
      .text-adjust {
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: -0.72px;
        text-align: center;
        color: var(--white-two);
      }
      .text-count {
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: -0.56px;
        text-align: center;
        color: var(--black-three);
        display: inline-block;
        text-align: center;
      }
    }
    .container-buy {
      background-color: var(--black-three);
      cursor: pointer;
      .text-buy {
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: -0.64px;
        text-align: center;
        color: var(--white-two);
        padding: 5px 40px;
        margin: 0;
      }
    }
    .container-note {
      position: absolute;
      bottom: 0;
      right: 0;
      .text-note {
        font-size: 13px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: -0.52px;
        text-align: right;
        color: var(--greyish-brown);
      }
    }
  }

  .section-coupon {
    margin: 30px 129px 30px 42px;
  }
}
